* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4499ff;
  background-size: auto 100vh;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 14px;
}

@media (min-width: 400px ) {
  body {
    font-size: 14px;
}
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: 1s;
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: whitesmoke;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

.titulo {
  animation: linear 2s animacaotitulo forwards;
}

@keyframes animacaotitulo {
  from {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
}
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-title {
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  font-size: 3.82em;
  line-height: 1.8em;
  text-align: center;
}

.site-subtitle {
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.8em;
  text-align: center;
}

.sobre,
.contato,
.portfolio {
  padding: 1.5em;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.contato .icons,
.portfolio .grid {
  display: grid;
  align-content: center;
  min-height: calc(100vh - 4em - 48px - 1.5em);
  justify-content: center;
}

@media (min-width: 560px ) {
  .contato .icons,
  .portfolio .grid {
  grid-template-columns: repeat(2, 260px);
  }
}

@media (min-width: 880px ) {
  .contato .icons,
  .portfolio .grid {
  grid-template-columns: repeat(5, 260px);
  justify-content: center;
  }
}

.sobre {
  display: grid;
  justify-content: center;
}

.sobre h2,
.contato h2,
.portfolio h2 {
  padding-top: 30px;
  color: whitesmoke;
  font-size: 3em;
}

.sobre p {
  color: cyan;
  margin-bottom: 1em;
  text-indent: 1.4em;
  text-align: justify;
}

.sobre a {
  color: white;
  text-decoration: underline;
}

.sobre .avatar {
  float: left;
  margin-bottom: 1em;
  margin-right: 1em;
}

.sobre .avatar img {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

@media (max-width: 503px ) {
  .sobre .avatar img {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
}

.portfolio figure {
  text-align: center;
}

.img-goku {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 50%;
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 50%;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2) rotate(45deg);
}

.flip-card {
  perspective: 1000px;
  border-radius: 50%;
}

.card {
  transform-style: preserve-3d;
  transition: transform 1000ms;
  position: relative;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  top: 0;
}

.card-back {
  background-color: whitesmoke;
  border-radius: 50%;
  display: grid;
  height: 200px;
  width: 100%;
  transform: rotateY(180deg);
  text-align: center;
  align-items: center;
  position: absolute;
}

.contato a {
  color: whitesmoke;
  font-size: 6em;
}

.contato a:active,
.contato a:hover{
  text-shadow: 0 0 10px rgba(255,255,255,.5);
}
