* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4499ff;
  bsckground-size: auto 100vh;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 14px;
}

@media (min-width: 400px ) {
  body {
    font-size: 14px;
}
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  font-size: 3.82em;
  line-height: 1.8em;
  text-align: center;
}

.site-subtitle {
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.8em;
  text-align: center;
}

.portfolio {
  padding: 1.5em;
  height: 100vh;
}

.portfolio .grid {
  display: grid;
  align-content: center;
  height: calc(100vh - 4em - 48px - 1.5em);
  justify-content: center;
}

@media (min-width: 560px ) {
  .portfolio .grid {
  grid-template-columns: repeat(2, 260px);
  }
}

@media (min-width: 880px ) {
  .portfolio .grid {
  grid-template-columns: repeat(3, 260px);
  justify-content: center;
  }
}

.portfolio h2 {
  color: whitesmoke;
  font-size: 3em;
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 50%;
}
